.balloons{
  position:absolute;
  bottom:-20px;
  width:100%;
  display:flex;
  justify-content:space-evenly;
}
.balloon{
  width:60px;
  height:80px;
  border-radius:50%;
  background:radial-gradient(circle at 30% 30%,#fff2cc,#f5c97a);
}
.balloon-bunch {
  position: fixed;
  bottom: -40px;
  width: 180px;
  height: 240px;
  z-index: 4;
}

.balloon-bunch.left {
  left: 20px;
}

.balloon-bunch.right {
  right: 20px;
}

.balloon {
  position: absolute;
  width: 60px;
  height: 80px;
  border-radius: 50%;
}

/* THREAD */
.balloon::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 2px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.15)
  );
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  .balloon {
    width: 45px;
    height: 60px;
  }

  .balloon-bunch {
    width: 140px;
    height: 200px;
  }
}
