body {
  margin: 0;
  /* overflow: hidden; */
  /* background: radial-gradient(#d6cdd6, #000); */
  background-color: rgb(0, 0, 0);
  font-family: Poppins, sans-serif;
  color: #ffffff;
}

.three-container,
.fallback {
  position: fixed;
  inset: 0;
}

.title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: gold;
  text-shadow: 0 0 30px gold;
  pointer-events: none;
}
